<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Priorities</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

    <!-- DataTables JS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>

</head>
<body>

<div class="form-group">

    <h1>Priorities<small> List</small></h1>
    <button type="button" class="btn btn btn-primary" id="mainBtn">Main Page</button>
    <button id="showPriorityModal" type="button" class="btn btn btn-primary">Add Priority</button>

</div>
<div></div>

<!--priority table-->
<div class="container">
    <table class="table" id="priorities"  cellpadding="0" align="center" width="80%">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Priority</th>

            <th scope="col">Action</th>
            <!--<th>Start Date</th>-->
        </tr>
        </thead>
        <tbody>
        <!--<c:forEach items="${persons}" var="item">-->
        <tr th:each="priority, id: ${priority}" >
            <td th:text="${id.count}"></td>
            <td th:text="${priority.name}"></td>

            <td>
                <button type="button" data-th-id="${priority.id}" data-th-name="${priority.name}" class="editBtn btn btn btn-primary" style="background: orange; border-color: inherit">
                    <i class="far fa-edit"></i></button>
                <a type="button" data-th-id="${priority.id}" class="deleteBtn btn btn btn-primary" style="background: #ac2925; border-color: inherit"
                   id="deleteBtn" ><i class="fas fa-trash-alt"></i></a>
            </td>


            <!--<td th:text="${todoList.startdate}"></td>-->

        </tr>
        <!--</c:forEach>-->
        </tbody>
    </table>
</div>

<!--priority add modal-->
<div class="modal fade" id="priorityModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Priority</h4>
            </div>
            <div class="modal-body">
                <form method="post" th:action="@{/addPriority}" th:object="${priorityObject}">
                    <!--<label for="personId">ID</label><input th:value="*{id}" id="personId" name="id" type="number" class="form-control">-->
                    <label for="priorityname">Priority name</label><input  id="priorityname" name="task" th:value="*{name}"
                                                                           type="text" class="form-control"><br>

                    <span id="emptyAddPr" style="color: red"></span>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="savePrioritybtn" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--edit_modal-->
<div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Priority</h4>
            </div>
            <div class="modal-body">
                <form method="post" th:action="@{/editPriority}" th:object="${priorityObject}">
                    <input type="hidden" id="edit_id" value="">
                    <input type="hidden" id="edit_name" value="">
                    <label></label>
                    <input id="editname" name="name" th:value="*{name}"
                           type="text" class="form-control"><br>
                    <span id="emptyP" style="color: red"></span>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="editPrioritybtn" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--add priority-->
<script>
    $(document).ready(function () {
            $("#showPriorityModal").click(function () {
                $("#emptyAddPr").html("");
                $('#priorityModal').modal('show');
            });
            $('#savePrioritybtn').click(function () {
                // var id=$('#personId').val();
                var name = $('#priorityname').val();
                $.ajax({
                    url: 'addPriority',
                    method: 'post',
                    data: 'name=' + name,
                    dataType: 'json',
                    success: function (response) {

                        if(response.message==200){
                            alert(response.message)
                            window.location.reload();
                        }
                        else
                        {
                            $("#emptyAddPr").html(response.message);
                        }
                    },
                    error: function(res) {
                        console.log("ajax error");
                    }
                })
            })
        }
    )
</script>

<!--edit_priority-->
<script>
    $(document).ready(function () {
        $(document).on("click", ".editBtn", function () {

            $("#emptyP").html("");

            var edit_id = $(this).attr('id');
            $(".modal-body #edit_id").val(edit_id);

            var edit_name = $(this).attr('name');
            $(".modal-body #edit_name").val(edit_name);
            $("#editname").val(edit_name);

            $("#editModal").modal('show');

        });
        $("#editPrioritybtn").click(function () {

            var editid = $('#edit_id').val();
            var editname = $('#editname').val();
            $.ajax({
                url: 'editPriority',
                data:'id='+editid+'&name='+editname,
                method: 'get',
                dataType: 'json',
                success: function (response) {

                    if(response.message==200){
                        alert(response.message)
                        window.location.reload();
                    }
                    else
                    {
                        $("#emptyP").html(response.message);
                    }
                },
                error: function(res) {
                    console.log("ajax error");
                }
            })
        })
    });
</script>

<!--delete_priority_-->
<script>
    $(document).ready(function () {
        $(document).on("click", ".deleteBtn", function () {
            var p_id = $(this).attr('id');
            $(".modal-body #prId").val(p_id);
            $("#deleteModal").modal('show');
        });
        $("#delselectedPriority").click(function () {
            var id = $('#prId').val();
            console.log(id);
            $.get("/home/priorities/deletePriority/" + id, function (data) {
                location.reload();
            })
        });
    })
</script>

<!--delete_modal-->
<div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <input type="hidden" name="">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Warning</h4>
            </div>
            <div class="modal-body">
                <form method="post" th:action="@{/delete}">
                    <input type="hidden" id="prId" value="">

                    <!--<label for="personId">ID</label><input th:value="*{id}" id="personId" name="id" type="number" class="form-control">-->
                    <label>Tasks in this priority will be deleted! <br> Are you sure you want to delete this priority?</label><br>
                </form>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-danger" data-dismiss="modal"
                   id="delselectedPriority">Delete anyway</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

            </div>
        </div>
    </div>
</div>

<!--main page-->
<script>
    $(document).ready(function () {
        $("#mainBtn").click( function () {

            $.ajax({
                url:'/',
                method: 'get'
            })
            window.location.replace("http://localhost:8082/home/");
        })
    })

</script>

</body>
</html>